---
layout: layouts/base.liquid
---
<h2>Currently Reading</h2>

<p>
  {% for book in currentReadingBook %}
  <ul>
    <li>{{ book[1].name}}</li>
    <ul>
      <li>{{ book[1].description }}</li>
    </ul>
  </ul>
  {% endfor %}
</p>


<h2>Books</h2>
{% for post in collections.books reversed %}
    <!-- <h2><a href="{{ post.url }}">{{ post.data.pageTitle }}</a></h2> -->
    <p class="postLink">
      <!-- <em>{{ post.date | date: "%Y-%m-%d" }}</em> -->
       <em>{{ post.date | date: "%Y-%m-%d" }}</em>
      <a href="{{ post.url }}">{{ post.data.pageTitle }}</a>
    </p>
{% endfor %}
