<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=oLnwqglY4k">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=oLnwqglY4k">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=oLnwqglY4k">
        <link rel="manifest" href="/site.webmanifest?v=oLnwqglY4k">
        <link rel="mask-icon" href="/safari-pinned-tab.svg?v=oLnwqglY4k" color="#5bbad5">
        <link rel="shortcut icon" href="/favicon.ico?v=oLnwqglY4k">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <!-- end favicon -->

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-KXW94END01"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          // gtag('config', 'G-KXW94END01');
          gtag('config', 'UPDATE ME');
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A wiki for all things software engineering...">
        <title>Personal Blogspace</title>
    </head>
    <body>

      <h1> <a href="index.html">{{ pageTitle }}</a> </h1><nav>
          <a href="books">Books</a>
        </nav>

        {{ content }}
    </body>
</html>
